<?xml version="1.0"?>
<module name="dev-qnx">
	<type>Element</type>
	<classification>Driver</classification>


	<supports>
		<availability ref="ostargets"/>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>

	<contents>
	<!-- Just need directory contents to be checked out -->
	</contents>

</module>
