<?xml version="1.0"?>
<module name="devb-mmcsd">
	<type>Element</type>
	<classification>Driver</classification>
	<description>
	<short>MMC/SD Driver</short>
	<abstract>
	<![CDATA[Driver for MMC/SD cards]]>
	</abstract>
	</description>

	<supports>
		<availability>
			<cpu isa="arm">
				<byteOrder>le</byteOrder>
			</cpu>
			<cpu isa="x86"/>
		</availability>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>
	<GroupOwner>hw</GroupOwner>
	<RuntimeComponent>Neutrino RTOS</RuntimeComponent>


	<contents>
		<component id="mmcsd" generated="true">
			<location basedir="{cpu}/{o|endian}"
				 runtime="true">devb-mmcsd</location>
		</component>

		<package name="internal-jacinto">
			<component id="mmcsd" generated="true">
				<location basedir="arm/jacinto.le"
				 runtime="true">devb-mmcsd-jacinto</location>
			</component>
		</package>

		<package name="internal-dm355">
			<component id="mmcsd" generated="true">
				<location basedir="arm/dm355.le"
				 runtime="true">devb-mmcsd-dm355</location>
			</component>
		</package>


	</contents>

	<requires>
		<part build="true" location="lib/drvr"/>
		<part build="false" location="hardware/devb"/>
	</requires>

</module>
